@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
:root {
	font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
.logo {
	font-size: 2rem;
	font-weight: 900;
}
.username,
.score {
	margin: 0 1em;
}
.App {
	font-size: 1.25rem;
	margin: 6em;
}
.app-box {
	width: 100%;
}
.AppContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.App:focus {
	outline: none !important;
}

.active {
	border-left: solid 2px white !important;
}
.letter {
	border-left: solid 2px #242424;
	padding: 0.125rem;
}
.tab-container {
	display: flex;
	justify-content: center;
}
.tab {
	text-align: center;
	color: gray !important;
	margin: 0 5em;
	transition: all 150ms;
}
.tab:hover {
	cursor: pointer;
	color: white !important;
}
.active-tab {
	color: white !important;
}
nav {
	padding: 2em;
}
nav > ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.login-modal-container {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1a1a1ab8;
}
.login-modal {
	position: relative;
	background-color: #242424;
	padding: 1em;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.wpm {
	text-align: center;
	margin-bottom: 1em;
	font-size: 2rem;
}
.correct {
	text-align: center;
}
.accuracy {
	text-align: center;
	margin-bottom: 5rem;
}
.save-score {
	font-size: 1.125rem;
	text-align: center;
	margin-top: 1em;
	color: gray;
}
.login-sm {
	text-decoration: underline;
}
.login-sm:hover {
	cursor: pointer;
	color: white;
}
.login-btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.register-btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#modal-close {
	width: max-content;
	position: absolute;
	right: 1em;
}
.login-modal > h3 {
	text-align: center;
	margin-top: 3em;
}
.login-modal > form {
	display: flex;
	flex-direction: column;
}
input {
	margin: 1em;
	padding: 1em;
	border-radius: 0.25em;
	outline: none;
	border: none;
	min-width: 20em;
}
.login-modal > form > button {
	margin: 1em;
}
p.save-score {
	font-size: 1em;
}
.error {
	height: 2em;
	font-size: 0.75em;
	color: rgb(241, 115, 115);
}
